{{ 'component-card.css' | asset_url | stylesheet_tag }}

<div class="card {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <a class="card__link" href="{{ card_product.url }}">
    <div class="card__media">
      <img class="card__img" src="{{ card_product.featured_media | img_url: 'large' }}" alt="{{ card_product.title | escape }}">
    </div>
  
  
    <div class="card__content">
      <h3 class="card__title">
        {{ card_product.title }}
      </h3>
    </div>
  </a>

  <div class="card__content">
    <div class="product-form__buttons">
          <button
            id="ProductSubmitButton-{{ section_id }}"
            type="submit"
            name="add"
            class="card__btn"
          >
            <span>
                {{ 'components.card.add_to_cart' | t }} - {{ card_product.price | money }}
            </span>
          </button>
        </div>
  </div>

</div>