<div class="c-product-card">
  <a class="c-product-card__link" href="{{ product.url }}">
    <div class="c-product-card__media">
      {% render 'image-lazy', image: product.featured_image, class: 'card__img' %}
    </div>

    <div class="c-product-card__content">
      <h3 class="c-product-card__title">
        {{ product.title }}
      </h3>
    </div>
  </a>

  <div class="c-product-card__content">
    <product-form
      class="product-form"
      data-section-id="{{ section.id }}"
    >
      {%- form 'product', product, class: 'js-product__form' -%}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          class="product-variant-id"
        >

        <button
          id="ProductSubmitButton-{{ section_id }}"
          type="submit"
          name="add"
          class="c-product-card__btn js-product__form-button"
        >
          {% assign product_price = product.price | money %}
          <span> {{ 'components.card.add_to_cart' | t: price: product_price }}</span>
        </button>
      {% endform %}
    </product-form>
  </div>
</div>
