{% style %}
  .section-cart {
    padding-top: {{section.settings.padding_top_mobile}}px;
    padding-bottom: {{section.settings.padding_bottom_mobile}}px;
  }

  @media screen and (min-width: 768px) {
    .section-cart  {
      padding-top: {{section.settings.padding_top_desktop}}px;
      padding-bottom: {{section.settings.padding_bottom_desktop}}px;
    }
  }
{% endstyle %}

{{ 'section-cart.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="section-cart cart">
    <div class="cart__title-wrapper">
      <h1 class="cart__title">{{ 'sections.cart.title' | t }}</h1>
    </div>
    <cart-items>
      {% if cart.empty? %}
        <div>
          <h2>
            {{ 'sections.cart.empty' | t }}
          </h2>
          <a href="{{ section.settings.continue-shopping_link }}">
            {{ 'sections.cart.summary.continue-shopping' | t }}
          </a>
        </div>
      {% else %}
        <form action="{{ routes.cart_url }}" class="cart__contents" method="post" id="cart">
          <div class="cart__items">
            <table id="cart-items" class="table">
              <thead class="table__head">
                <tr>
                  <th colspan="2" scope="col">
                    {{ 'sections.cart.headings.product' | t }}
                  </th>
                  <th colspan="1" scope="col">
                    {{ 'sections.cart.headings.quantity' | t }}
                  </th>
                  <th colspan="1" scope="col">
                    {{ 'sections.cart.headings.total' | t }}
                  </th>
                </tr>
              </thead>

              <tbody class="table__body">
                {% for item in cart.items %}
                  <tr class="cart-item">
                    <td>
                      {% if item.image %}
                        {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                        <a href="{{ item.url }}" aria-hidden="true" tabindex="-1"> </a>
                        <img
                          src="{{ item.image | image_url: width: 300 }}"
                          class="cart-item__image"
                          alt="{{ item.image.alt | escape }}"
                          loading="lazy"
                          width="150"
                          height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                        >
                        </div>
                      {% endif %}
                    </td>

                    <td>
                      <a href="{{ item.url }}" class="cart-item__name">{{ item.product.title | escape }}</a>
                      <div class="cart-item__price">
                        {{ item.original_price | money }}
                      </div>
                    </td>

                    <td class="table__quantity">
                      <div class="table__quantity-input">
                        <button name="minus" type="button" data-quantity-change="-1">-</button>
                        <input
                          type="number"
                          value="{{ item.quantity }}"
                          name="cart[quantity][{{item.id}}]"
                        >
                        <button name="plus" type="button" data-quantity-change="1">+</button>
                      </div>

                      <div class="table__quantity-remove">
                        <button>x</button>
                      </div>
                    </td>

                    <td class="cart-item__totals right small-hide">
                      <div class="cart-item__price-wrapper">
                        <span class="price price--end">
                          {{ item.original_line_price | money }}
                        </span>

                        {%- if item.variant.available and item.unit_price_measurement -%}
                          <div class="unit-price caption">
                            <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                            {{ item.unit_price | money }}
                            <span aria-hidden="true">/</span>
                            <span class="visually-hidden"
                              >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                            >
                            {%- if item.unit_price_measurement.reference_value != 1 -%}
                              {{- item.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.unit_price_measurement.reference_unit }}
                          </div>
                        {%- endif -%}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      {% endif %}
    </cart-items>
  </div>
</div>

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Your Cart",
      "label": "Title"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Section padding top (Desktop)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Section padding bottom (Desktop)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "Section padding top (mobile)",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "Section padding bottom (mobile)",
      "default": 10
    }
  ],
  "presets": [{ "name": "Cart" }]
}
{% endschema %}
