{% style %}
  .s-featured-collection {
    padding-top: {{section.settings.padding_top_mobile}}px;
    padding-bottom: {{section.settings.padding_bottom_mobile}}px;
  }

  @media screen and (min-width: 768px) {
    .s-featured-collection  {
      padding-top: {{section.settings.padding_top_desktop}}px;
      padding-bottom: {{section.settings.padding_bottom_desktop}}px;
    }
  }
{% endstyle %}

<script src="{{ 'component-product-card.js' | asset_url }}" defer></script>

{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign products = section.settings.collection.products
-%}
<div class="featured-collection--wrapper">
  <div class="s-featured-collection page-width">
    <div class="s-featured-collection__top">
      <h2 class="s-featured-collection__title">
        {{ section.settings.title }}
      </h2>
    </div>

    <div class="s-featured-collection__content">
      {%- for product in products -%}
        {% render 'product-card', product: product %}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Products",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Section padding top (Desktop)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Section padding bottom (Desktop)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "Section padding top (mobile)",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "Section padding bottom (mobile)",
      "default": 10
    }
  ],
  "presets": [{ "name": "Featured Collection" }]
}
{% endschema %}
