{% style %}
  .s-featured-collection {
    padding-top: {{section.settings.padding_top_mobile}}px;
    padding-bottom: {{section.settings.padding_bottom_mobile}}px;
  }

  @media screen and (min-width: 768px) {
    .s-featured-collection  {
      padding-top: {{section.settings.padding_top_desktop}}px;
      padding-bottom: {{section.settings.padding_bottom_desktop}}px;
    }
  }
{% endstyle %}

{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign products = section.settings.collection.products
-%}
<div class="featured-collection--wrapper">
  <div class="s-featured-collection page-width">
    <div class="s-featured-collection__top">
      <h2 class="s-featured-collection__title">
        {{ section.settings.title }}

        {% comment %} {{ 'sections.featured-collection.title' | t }} {% endcomment %}
        {% comment %} в кастомайзер чи в переклад? {% endcomment %}
      </h2>
    </div>

    <div class="s-featured-collection__content">
      {%- for product in products -%}
        {% comment %}
          {% assign is_product_in_cart = false %}

          {%- for item in cart.items -%}
            {% if item.product.id == product.id %}
              {% assign is_product_in_cart = true %}
            {% endif %}
          {%- endfor -%}

          {%- unless is_product_in_cart -%}
            {% render 'card', card_product: product %}
          {%- endunless -%}
        {% endcomment %}
        {% render 'card', card_product: product %}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Products",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Section padding top (Desktop)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Section padding bottom (Desktop)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "Section padding top (mobile)",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "Section padding bottom (mobile)",
      "default": 10
    }
  ],
  "presets": [{ "name": "Featured Collection" }]
}
{% endschema %}
