{{ 'section-header.css' | asset_url | stylesheet_tag }}

<div class="s-header page-width">
  <h1 class="s-header__heading">
    <a href="{{ routes.root_url }}" class="s-header__heading-link">
      <span class="s-header__heading-span">{{ shop.name }}</span>
    </a>
  </h1>

  <div class="s-header__icons">
    <a href="{{ routes.cart_url }}" class="s-header__icon s-header__icon--cart" id="cart-icon-bubble">
      {%- liquid
        if cart == empty
          render 'icon-cart-empty'
        else
          render 'icon-cart'
        endif
      -%}
      <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
      {%- if cart != empty -%}
        <div class="cart-count-bubble">
          <span class="js-icon-cart__count">
            {{ cart.item_count }}
          </span>
        </div>
      {%- endif -%}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Header settings"
    }
  ],
  "presets": [{ "name": "Header" }]
}
{% endschema %}
